<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BayesianModeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <BayesianModeling.Properties.Settings>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Bayesian Model Selection</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ResultWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ResultLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DiscountTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DiscountLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Updated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatchDiscountTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BatchDiscountLeft" serializeAs="String">
                <value>100</value>
            </setting>
        </BayesianModeling.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
